JpocToolsCoreCore/Service References/JpocWeb.AdminService/AdminService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://clinicalsup.jp/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://clinicalsup.jp/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://clinicalsup.jp/">
      <s:element name="GetDataToDataSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pUserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pInstitutionCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pSql" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="RtnCD" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="RtnMsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataToDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDataToDataSetResult" type="s:base64Binary" />
            <s:element minOccurs="1" maxOccurs="1" name="RtnCD" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="RtnMsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExecuteNoResult">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pUserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pInstitutionCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pSql" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="RtnCD" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="RtnMsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExecuteNoResultResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ExecuteNoResultResult" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="RtnCD" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="RtnMsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetDataToDataSetSoapIn">
    <wsdl:part name="parameters" element="tns:GetDataToDataSet" />
  </wsdl:message>
  <wsdl:message name="GetDataToDataSetSoapOut">
    <wsdl:part name="parameters" element="tns:GetDataToDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="ExecuteNoResultSoapIn">
    <wsdl:part name="parameters" element="tns:ExecuteNoResult" />
  </wsdl:message>
  <wsdl:message name="ExecuteNoResultSoapOut">
    <wsdl:part name="parameters" element="tns:ExecuteNoResultResponse" />
  </wsdl:message>
  <wsdl:portType name="AdminServiceSoap">
    <wsdl:operation name="GetDataToDataSet">
      <wsdl:input message="tns:GetDataToDataSetSoapIn" />
      <wsdl:output message="tns:GetDataToDataSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteNoResult">
      <wsdl:input message="tns:ExecuteNoResultSoapIn" />
      <wsdl:output message="tns:ExecuteNoResultSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AdminServiceSoap" type="tns:AdminServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDataToDataSet">
      <soap:operation soapAction="http://clinicalsup.jp/GetDataToDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteNoResult">
      <soap:operation soapAction="http://clinicalsup.jp/ExecuteNoResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AdminServiceSoap12" type="tns:AdminServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDataToDataSet">
      <soap12:operation soapAction="http://clinicalsup.jp/GetDataToDataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteNoResult">
      <soap12:operation soapAction="http://clinicalsup.jp/ExecuteNoResult" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdminService">
    <wsdl:port name="AdminServiceSoap" binding="tns:AdminServiceSoap">
      <soap:address location="http://localhost/jpoc/Services/AdminService.asmx" />
    </wsdl:port>
    <wsdl:port name="AdminServiceSoap12" binding="tns:AdminServiceSoap12">
      <soap12:address location="http://localhost/jpoc/Services/AdminService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>